
* { box-sizing: border-box; }

header{ display: block; } 

head {
    margin-top: 10px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    
}
#logo{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
}
a {
    color: #7FCADA;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: -50px;
    padding-left: 150px;
    font-weight: bold;
    
}

body {
    background-color: #2a2a2a;
    font-family: 'Ubuntu', sans-serif;
    width:100%;margin:auto;min-width:1080px;max-width:1080px; 
    height: 100%;   
}
form{
     color: white;
     font-size: 100%;
     font-weight: bold;
     line-height: 4em;
     margin-top: 450px;
     margin-left: 150px;
     margin-right: 800px;
     
 }
h1 {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 250%;
    font-weight: bold;
    line-height: 1em;
    margin-top: 200px;
    clear: none;
    display: block;
    margin-left: 150px;
    margin-right:150px;
    z-index:1;
    float: left;
    
}
h2 {
    color: #b3ffb3;
    float: left;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Play', sans-serif;
    font-size: 200%;
    font-weight: bold;
    line-height: 2em;
    clear: none;
    display: block;
    margin-bottom: -50px;
    margin-top: 100px;
    
}
p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 120%;
    font-style: normal;
    font-weight: normal;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: -150px;
    line-height: 2em;
    
}
#nav{
    font-size: 150%;
    margin-top: 150px;
    margin-left: 50px;
    position: relative;

}
.navigation {
  list-style: none;
  margin: 0;

  background: lightgreen;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
}

.navigation a {
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navigation a:hover {
  background: red;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}
a:hover { 
    color: #c4e4ed;
}

.row {
  overflow: auto;
  margin-bottom: 16px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
  padding: 16px;
  width: 100%;
}
@media screen and (min-width: 200px) {
  [class*="col-"] {
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
  }
}
@media screen and (min-width: 600px) {
  [class*="col-"] {
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
  }
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* show column, column-reverse, row-reverse */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  /* flex-start, flex-end, center, space-between */
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  [class*="col-"] {
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
  }
}
footer {
    font-size: 75%;
    float: left;
    margin-top: 500px;
    margin-left: -200px;
    width: 100%;
    height: 30%;
    background-color: #000000;
    
}